.sidebar {
  width: 100%;
  height: 100%;
  @include leftMenu();
  .menus-container {
    height: 100%;
    @include setColorByKeys('background-color', 'menus-bg');
    .submenu {
      .submenu-title {
        margin-left: 48px;
        @include leftMenuSub();
      }
    }
  }
}

.iconfont {
  @include leftMenu();
  font-size: 26px;
}
